@model IEnumerable<CarWorkshopManagementSystem.Models.Part>

@{
    ViewData["Title"] = "Katalog części";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Dodaj nową część</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Nazwa</th>
            <th>Typ</th>
            <th>Cena jednostkowa</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Name)</td>
                <td>@Html.DisplayFor(modelItem => item.Type)</td>
                <td>@item.UnitPrice.ToString("C")</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edytuj</a>
                </td>
            </tr>
        }
    </tbody>
</table>